//bootstrap scss
@import "../bower_components/bootstrap/scss/bootstrap.scss";

//custom variables
$airhr-blue:  #107DA5;
$airhr-lt-blue: #CFE5ED;
$airhr-blue-drk: #152B45;


$color-gry-lt: #F6F8F9;
$color-black: #000;
$color-white: #fff;
$color-yellow: #FCC607;
$base-font-color: #5F5C5C;

//custom mixins 
@mixin flex {
  display: flex;
}

.flex {
  @include flex();
}

//custom styles
body {
  color: $base-font-color;
}

.page-wrapper {
  @include flex();
  flex-direction: column;
  height: 100vh;
}

header {
  @include flex();
  flex-grow: 1;
  
  .container {
    flex-grow: 1;
    @include flex();
    flex-direction: column;
  }

  .brand {
    font-size: 3rem;
    line-height: 100%;
    margin-bottom: 20px;
    text-align: center;
    @include flex();
    flex-direction: column;

    // Large devices (desktops, 62em and up)
    @media (min-width: 62em) {
      font-size: 5rem;
    }

  }
  .user-login {
    flex-grow: 1;
    text-align: right;
    margin-top: 30px;
  }

}


.main-content,.add-wrapper {
  flex-grow: 1;
}

.add-wrapper {
  background-color: $airhr-blue-drk;
}


.search-module {
  border-radius: $border-radius * 3;
  background-color: $airhr-blue;
  padding:10px;
}

form {
  @include flex();
  flex-direction:column; /*for mobile and tablet portrait*/

  // Large devices (desktops, 62em and up)
  @media (min-width: 62em) {
    flex-direction: row; /*for desktops*/

  }

  .form-group {
    margin:0 0 5px 0;
    flex-grow: 1;

    // Large devices (desktops, 62em and up)
    @media (min-width: 62em) {
      margin-right: 5px;
      margin-bottom: 0;
    }

  }

  input, .btn, input:focus, .btn:focus {
    height: 50px;
    /*line-height: 50px;*/
    padding:10px;
    border-radius: $border-radius * 3;
    font-size: 20px;
    outline:none;
  }

  input, .dropdown-toggle {
    border:0;
    box-shadow: none;
    border-radius: $border-radius * 3;
    width: 100%;

  }

  input[placeholder]{
    color: #000;
  }

  .btn-group {
    width:auto;

    .dropdown-toggle::after {
      content: none;
    }

    // Large devices (desktops, 62em and up)
    @media (min-width: 72em) {
      width: 40px;

    }
    .btn {
      background-color: $color-white;
      border-radius: $border-radius * 3;
      text-align: center;

      // Large devices (desktops, 62em and up)
      @media (min-width: 62em) {
        text-align: left;

      }
    }

  }

  .dropdown-toggle, .btn {
    line-height: initial;
  }

  .btn-go {
    padding: 0 30px !important;
    line-height: 50px;
    background-color: $color-yellow;
    color: $color-black;
  }

}

/*header inside*/
.header-inside {
  background-color: $airhr-blue;
  border-bottom: 5px solid $color-white;

  .user-login {
    margin-top: 17px;
    text-align: right;
    a {
      color: $color-white;
    }
  }

  header,.container {
    display: block;
  }

  header {

    .brand {
      margin: 0;
      font-size: 2.5rem;
      font-weight:700;
      padding:10px 0;
      text-align: left;
      color: $color-white;
      line-height:100%;
    }
  }
  
  .search-module {
    background-color: $airhr-lt-blue;
    padding: 5px;
    margin-top: 5px;

    input, .btn, input:focus, .btn:focus {
      height: 40px;
      line-height: 100%;
      padding:10px;
      border-radius: $border-radius * 2;
      font-size: 15px;
      outline:none;
    }

    .btn-go, .btn-go:focus {
      line-height:40px;

    }
  }
}

.inside-content {
  background-color: $color-gry-lt;
  @include border-radius(10px);
  .search-filters {
    background-color: $airhr-blue;
    @include border-radius(15px);
    padding:10px;
    color: $color-white;

    form {
      flex-direction: column;

    }
    label {
      display: block;
      font-size: 0.8rem;

    }
    input {
      width: 20px;
      height:auto;
      vertical-align: text-bottom;

    }


  }
}
.filter-group {
  padding:10px 5px 5px 5px;
  border-top:1px solid $color-white;

  &:first-child {
    border:0;
  }
  strong {
    display: block;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom:10px;
  }

  span {
    @include pull-right;
    font-style: italic;
  }
  a {
    font-size:10px;
    font-style: italic;
    color: $color-white;
  }
  .radio {
      &.selected {
          color: $color-yellow;
      }
    }
  .radio:last-child {
    margin-bottom:0;
  }
}

.search-results {
  .result-count {
    padding:10px 0;
    font-size:17px;
    text-align: right;
    color: #152B45;
  }

  .search-item {
    background-color: $color-white;
    margin-bottom: 3px;
    @include border-radius(20px);
    @include transition(background-color, 5s);

    &:hover,&:focus {
      background-color: #EAEEF0;
    }

    .row {
      @include flex();
      flex-direction:row;
      flex-grow:1;
    }
    .media {
      padding: 10px 10px 10px 30px;
      
      .source {
        color: #4F4C4C;
        font-size:0.75rem;
        margin-bottom:5px;
      }
    }
    
    .media-object {
      width:70px;
    }

    .flex {
      flex-direction: column;
      align-items: flex-end;
    }
  }
  
  h4 {
    color: #152B45;
    margin-bottom:10px;
    small {
      color: #231F20;
      font-size:60%;
      border-left: 1px solid #231F20;
      padding-left: 10px;
      margin-left:5px;
      line-height: 100%;
    }
  }
  .current-exp {
    margin-bottom: 5px;
    font-size:0.875rem;
  }
  .skill-tags {
    span {
      display: inline-block;
      background-color: #7D97A7;
      font-size: 11px;
      color: $color-white;
      padding:3px 10px;
      text-transform: uppercase;
    }

  }

  .view-btn {
    @include border-radius(20px);
    padding: 10px;
    width:80px;
    @include flex();
    flex-grow:1;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:hover,&:focus {
      background-color: $airhr-blue;
      color: $color-yellow;
      cursor: pointer;
    }

  }
}

.page-item {

  .page-link {
    background-color: transparent;
    border:0;
    padding: 0.55rem;
    color: $airhr-blue-drk;
    text-decoration: none;
  }
  &.active,&:active,&:focus {
    .page-link {
      background-color: $airhr-blue;
      @include border-radius(20px);

    }
  }
}

/*footer*/
footer {
  flex-grow:1;
  text-align: center;
  
  .resume-count {
    font-size: 2rem;
    font-weight: 700;
    color: $airhr-blue;
  }
}

/*
10px = 0.625rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
24px = 1.5rem
30px = 1.875rem
32px = 2rem*/
